@import url('https://fonts.googleapis.com/css?family=Poppins:700&display=swap');

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #FFFFFF;
    color: white;
    height: 100vh;
}

#root {
    height: inherit;
    display: flex;
    flex-flow: column;
}